// call to action buttons
-if(!user)
    section.cta.py-6.px-3.px-lg-0.bg-white
        .container.text-center
            h2.fw-bold.display-5
                | Wanna Get Started As Soon As Possible?
            p.opacity-75.col-lg-8.mx-auto
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                | vitae velit nam consectetur, in ullam natus pariatur aliquid. Aut,
                | magnam!
            span.action-buttons
                a.btn-outline-primary.btn.mt-2.mx-2.px-4.fs-4.fw-bold(href="/login")
                    i.bi.bi-box-arrow-in-right
                    | LOGIN
            span.action-buttons
                a.btn-primary.btn.mt-3.mt-lg-2.mx-2.px-4.fs-4.fw-bold(href="/register")
                    i.bi.bi-pencil-square
                    | REGISTER