extends base
block content
    section#scroll-top.breadcrumb
        .container
            .col-lg-8.text-center.text-lg-start
                h2.fw-bold.display-5 About our team
                hr
                h4.text-purple.fw-bold  We are also HUMANS 
                p.opacity-75
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                    | vitae velit nam consectetur, in ullam natus pariatur aliquid. Aut,
                    | magnam!
    section.about-content.py-6.px-3.px-lg-0.bg-white
        .container
            .row
                .col-lg-6
                    img.img-fluid(src="/assets/img/about1.png", alt="about image")
                .col-lg-6.mt-4.mt-lg-0.d-flex.align-items-center.text-center.text-lg-start
                    .div
                        h2.fw-bold.display-5 We are E2s!
                        h4.text-purple.fw-bold Enthusiastic Entrepreneurs
                        p.opacity-75
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            | Explicabo cumque reprehenderit vitae odio rerum id ipsum natus
                            | exercitationem iusto recusandae eaque, quo eum nesciunt, maxime
                            | asperiores aut, architecto ad ipsa amet voluptatem iste.
                            | Molestiae unde, mollitia eaque soluta alias suscipit a quae
                            | laboriosam, eveniet similique vero architecto. Perferendis ipsa
                            | porro recusandae voluptates consequatur minus. Ut, natus
                            | similique necessitatibus reiciendis facere ea doloribus. Est
                            | natus rerum vero nostrum! Rem natus maiores ducimus minima a
                            | autem at sequi amet consectetur voluptatibus, reiciendis enim.
                            | Cumque culpa perspiciatis, fugiat exercitationem commodi sunt
                            | quis eos, architecto quidem quas facilis dolores illo est,
                            | soluta nesciunt incidunt.
                        p.opacity-75
                            | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            | Nostrum, odit quae eaque corporis, qui ipsum nam, ea aut ut ad
                            | explicabo doloribus quas. Provident illum ipsa tempore ipsum
                            | debitis a!
    section.about-content.py-6.px-3.px-lg-0.bg-turiLight
        .container
            .row
                .col-lg-6.mt-4.mt-lg-0.d-flex.align-items-center.text-center.text-lg-start.text-blue
                    .div
                        h2.fw-bold.display-5 Background!
                        h4.text-purple.fw-bold
                            | A quick background of our team
                        p.opacity-75
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            | Explicabo cumque reprehenderit vitae odio rerum id ipsum natus
                            | exercitationem iusto recusandae eaque, quo eum nesciunt, maxime
                            | asperiores aut, architecto ad ipsa amet voluptatem iste.
                            | Molestiae unde, mollitia eaque soluta alias suscipit a quae
                            | laboriosam, eveniet similique vero architecto. Perferendis ipsa
                            | porro recusandae voluptates consequatur minus. Ut, natus
                            | similique necessitatibus reiciendis facere ea doloribus. Est
                            | natus rerum vero nostrum! Rem natus maiores ducimus minima a
                            | autem at sequi amet consectetur voluptatibus, reiciendis enim.
                            | Cumque culpa perspiciatis, fugiat exercitationem commodi sunt
                            | quis eos, architecto quidem quas facilis dolores illo est,
                            | soluta nesciunt incidunt.
                        p.opacity-75
                            | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            | Nostrum, odit quae eaque corporis, qui ipsum nam, ea aut ut ad
                            | explicabo doloribus quas. Provident illum ipsa tempore ipsum
                            | debitis a!
                .col-lg-6
                    img.img-fluid(src="/assets/img/about2.png", alt="about image 2")
    