
mixin dashBoardCard(cardTitle, value,href)
    .col-lg-4.mt-3.p-3
        .div.py-3.px-4.bg-white.rounded-3.border.border-1
            p.fs-3.m-0= cardTitle
            h3.fw-bold= value
            .d-grid
                a.btn-primary.btn.fs-5.fw-bold.px-4(href=href)
                    | Manage

doctype html
html(lang="en")
    head
        include _head
        script(defer type='module' src="/js/admin/admin.js") 
        script(defer src="/assets/js/script.js", type="module")


    body
        include _navAdmin
        .admin-top.breadcrumb
            .container.bg-turi.admin-containor
                h1.display-5.text-white.text-center
                    | Dashboard
    
        section.features.py-6.bg-white.px-3.px-lg-0
            .container
                .row
                    +dashBoardCard('Total Users', totalUsers, '/admin/users')
                    +dashBoardCard('Upgraded Users', upgradedUsers, '/admin/users')
                    +dashBoardCard('Subscriptions Enabled', enabledSubs, '/admin/plans')                    
                    
                    
        include _footer 