mixin chatBtn(chat)
    .chat-btn-delete-container(data-chatId=`${chat._id}`)
        .btn-chat-delete
            button.btn-sample-pdf.btn.btn-primary.btn-chat
                i.bi.bi-file-earmark-pdf
                p= chat.name
            button.btn-danger.btn.btn-delete-chat
                i.bi.bi-archive
        //- .chat-tools
        //-     buton.btn-add-document.btn.btn-tool
        //-         i.bi.bi-journal-plus
        //-         input#add-file(type="file", hidden='', accept='.pdf,.txt')
        //-     buton.btn-reset-chat.btn.btn-tool
        //-         i.bi.bi-arrow-counterclockwise
           
            
            
doctype html
html(lang="en")
    head
        include _head
        link(rel="stylesheet", href="/assets/styles/chatN.css")
        script(src="/js/chat/chatN.js" type='module') 
        script(src="/js/chat/chatBtns.js" type='module') 

    body
        nav.navbar.navbar-expand-xl.fixed-top.py-1
            .container
                a.navbar-brand(href="/")
                    img.img-fluid.logo-image(src="/assets/img/logo.png", alt="logo")
                button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                    i.bi.bi-list
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.rounded
                        //- li.nav-item
                        //-     a.nav-link.px-3.py-2.mx-2.my-2.my-lg-3(aria-current="page", href="/") Home

                        if user
                            li.nav-item
                                a.nav-link.px-3.py-2.mx-1.my-2.my-lg-3(href="/dashboard") Dashboard
                        li.nav-item
                            a.nav-link.px-3.py-2.mx-1.my-2.my-lg-3(href="/pricing")= user? 'Upgrade' : 'Pricing'
                        li.nav-item
                            a.nav-link.px-3.py-2.mx-1.my-2.my-lg-3(href="/about") About us
                        -if(!user)
                            li.nav-item.text-center.action-buttons
                                a.btn-outline-primary.btn.my-2.my-lg-3.mx-2.px-4.btn-login(href="/login")
                                    i.bi.bi-box-arrow-in-right
                                    | LOGIN
                            li.nav-item.text-center.action-buttons
                                a.btn-primary.btn.my-4.my-lg-3.ms-2.px-4.btn-register(href="/register")
                                    i.bi.bi-pencil-square
                                    | REGISTER
                        -if(user)
                            li.nav-item.text-center.action-buttons
                                a.btn-primary.btn.my-4.my-lg-3.ms-2.px-4.btn-register(href='/profile')
                                    i.bi= user? user.name.split(' ')[0] : "Dashboard"
                            li.nav-item.text-center.action-buttons
                                button.btn-logout.btn-outline-primary.btn.my-2.my-lg-3.mx-2.px-4.btn-login
                                    i.bi
                                    | Logout

        -if(user)
            section#scroll-top.breadcrumb
                section.chat-upload-container
                    .upload-chat-btn-container.mobile-hidden 
                        .pdf-uploader
                            .drop-zone
                                p#drop-description
                                    i.bi.bi-cloud-arrow-up
                                    | Drag and drop a file here or click to
                                    | upload
                                input#file(type="file", hidden='', accept=".pdf,.txt,.doc,.docx,.csv")
                                .d-flex.justify-content-center.loader-upload
                                    .spinner-grow.text-primary.loader(role="status")
                            .file-info
                        
                        .chat-btn-container.hide-scroll-bar
                            -for(let i = 0; i< chats.length; i++)
                                +chatBtn(chats[i])
                            //- -for(let i = 0; i<= 15; i++)
                            //-     .chat-btn-delete-container(data-chatId=`alfdjlkfjaklsdjfkds`)
                            //-         button.btn-sample-pdf.btn.btn-primary.btn-chat
                            //-             i.bi.bi-file-earmark-pdf 
                            //-             | Resume
                            //-         button.btn-danger.btn.btn-delete-chat
                            //-             i.bi.bi-archive

                    .chat-container
                        .include-source-container.form-switch
                            input.input-include-source.form-check-input(type="checkbox" role="switch" id="flexSwitchCheckDefault" checked )
                            
                        .messages-container
                            .d-flex.justify-content-center.chat-loader.hidden
                                .spinner-grow.text-primary.loader(role="status") 
                                //- h5.chat-loader-text
                            //- .bot-message.message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis culpa velit magnam assumenda cum nam nobis soluta vel ipsum placeat quam vitae accusamus maiores aliquid sunt officia dignissimos in, exercitationem quis voluptatum quisquam. Impedit laboriosam magni ipsa cum corporis mollitia nam illum ipsam a, voluptas rem, vitae, fugit iste?
                            //- .user-message.message Lorem, ipsum dolor sit amet consectetur adipisicing elitsit amet consectetur adipisicing elit. Dolor, ullam?
                            //- .bot-message.message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis culpa velit magnam assumenda cum nam nobis soluta vel ipsum placeat quam vitae accusamus maiores aliquid sunt officia dignissimos in, exercitationem quis voluptatum quisquam. Impedit laboriosam magni ipsa cum corporis mollitia nam illum ipsam a, voluptas rem, vitae, fugit iste?
                            //- .user-message.message Lore m, ipsum dolor sit amet consectetur adipisicing elit. Dolor, ullam?
                            //- .bot-message.message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis culpa velit magnam assumenda cum nam nobis soluta vel ipsum placeat quam vitae accusamus maiores aliquid sunt officia dignissimos in, exercitationem quis voluptatum quisquam. Impedit laboriosam magni ipsa cum corporis mollitia nam illum ipsam a, voluptas rem, vitae, fugit iste?
                            //- .user-message.message Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, ullam?
                            //- .bot-message.message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis culpa velit magnam assumenda cum nam nobis soluta vel ipsum placeat quam vitae accusamus maiores aliquid sunt officia dignissimos in, exercitationem quis voluptatum quisquam. Impedit laboriosam magni ipsa cum corporis mollitia nam illum ipsam a, voluptas rem, vitae, fugit iste?
                            //- .user-message.message Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, ullam?
                            //- .bot-message.message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis culpa velit magnam assumenda cum nam nobis soluta vel ipsum placeat quam vitae accusamus maiores aliquid sunt officia dignissimos in, exercitationem quis voluptatum quisquam. Impedit laboriosam magni ipsa cum corporis mollitia nam illum ipsam a, voluptas rem, vitae, fugit iste?
                            //- .user-message.message Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, ullam?
                            //- .bot-message.message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis culpa velit magnam assumenda cum nam nobis soluta vel ipsum placeat quam vitae accusamus maiores aliquid sunt officia dignissimos in, exercitationem quis voluptatum quisquam. Impedit laboriosam magni ipsa cum corporis mollitia nam illum ipsam a, voluptas rem, vitae, fugit iste?
                            //- .user-message.message Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, ullam?
                            //- .bot-message.message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis culpa velit magnam assumenda cum nam nobis soluta vel ipsum placeat quam vitae accusamus maiores aliquid sunt officia dignissimos in, exercitationem quis voluptatum quisquam. Impedit laboriosam magni ipsa cum corporis mollitia nam illum ipsam a, voluptas rem, vitae, fugit iste?
                            //- .user-message.message Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, ullam?
                            //- .bot-message.message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis culpa velit magnam assumenda cum nam nobis soluta vel ipsum placeat quam vitae accusamus maiores aliquid sunt officia dignissimos in, exercitationem quis voluptatum quisquam. Impedit laboriosam magni ipsa cum corporis mollitia nam illum ipsam a, voluptas rem, vitae, fugit iste?
                            //- .user-message.message Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, ullam?
                            //- .bot-message.message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis culpa velit magnam assumenda cum nam nobis soluta vel ipsum placeat quam vitae accusamus maiores aliquid sunt officia dignissimos in, exercitationem quis voluptatum quisquam. Impedit laboriosam magni ipsa cum corporis mollitia nam illum ipsam a, voluptas rem, vitae, fugit iste?
                            //- .user-message.message Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, ullam?
                        .input-send-container
                            input#user-input.form-control.generate-input(type="text", placeholder="Ask Me A Question...")
                            button#submit-button.btn-ask.btn.btn-default.btn-primary(type="button")
                                i.bi.bi-send
                
            button.btn.btn-open-sidebar.hidden-desktop.btn-outline-primary
                i.bi.bi-arrow-bar-right
        -else
            section#scroll-top.breadcrumb
            include _loginRegister
            include _footer
            