doctype html
html(lang="en")
    head
        include _head 
        script(type='module' src="/js/resetPassword.js") 
        style.
            form{width: 60%;}
         
    body
        nav.navbar.navbar-expand-xl.py-4.x
            .img-container.container.d-flex.align-items-center.justify-content-center
                a.navbar-brand(href="/")
                    img.img-fluid(src="/assets/img/logo.png") 
        section#scroll-top
            .container
                .text-center.text-lg-start.d-flex.align-items-center.justify-content-center.flex-column
                    h3.fw-bold.display-6.mt-5 Reset Password
                    form#form-reset(data-token= token)
                        .mb-3
                            label.form-label(for="password") New passowrd
                            input#password.form-control(type="password", placeholder="**********" required)
                        .mb-3
                            label.form-label(for="passowrdConfirm") Password Confirm
                            input#passwordConfirm.form-control(type="password", placeholder="********" required)
                        button.btn-set.btn.btn-primary.fs-5.fw-bold.px-5(type="submit")
                            | Set New

