extends base
block content
    section#scroll-top.breadcrumb
        .container
            .col-lg-12.text-center.text-lg-start
                h2.fw-bold.display-5 Terms and Conditions
                hr
                h4.text-purple.fw-bold 👨‍💼 Categories list here 👨‍💼
                p.opacity-75 Some small excerpt
    section.blog-detail.py-6.px-3.px-lg-0.bg-white
        .container
            p
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
                | exercitationem architecto cumque id provident, vel quas iste deleniti
                | ut, corporis, facere est quia quaerat deserunt. Aliquid repudiandae
                | adipisci expedita impedit pariatur omnis distinctio, suscipit corrupti
                | iure eos blanditiis animi architecto id dicta molestiae tempora iusto
                | soluta, ipsa, consequatur assumenda dolorem? Eos consectetur
                | repudiandae explicabo quisquam velit deserunt, magni blanditiis
                | consequatur? Unde quidem eius laudantium, voluptates, excepturi
                | corporis, facilis ipsam optio vitae temporibus quae? Iste eius sunt
                | atque vel autem, eos alias soluta repudiandae tempore tempora unde
                | temporibus, magnam error qui harum tenetur illum a, optio consequuntur
                | explicabo! Voluptatum expedita consequuntur consequatur dolore culpa
                | facere excepturi, itaque quibusdam? Suscipit nemo quas impedit alias
                | reiciendis fugit ab modi iste veniam quia quasi aperiam sit qui
                | laudantium rem ex, odit ut voluptatem. Soluta laboriosam provident
                | aliquam libero? Vel temporibus pariatur nulla assumenda non quo! Quia,
                | ea cupiditate tempore in dolore minima nostrum ex, vero nemo nulla
                | iusto aspernatur et ducimus magni enim maxime molestiae distinctio,
                | totam atque ratione ab aperiam. Consequuntur deleniti laborum ut
                | doloremque alias labore, nesciunt, quisquam eos ullam culpa dolor
                | officiis ab voluptate inventore iste nobis perspiciatis, doloribus
                | atque et? Suscipit reiciendis eaque deserunt voluptatum doloribus
                | nesciunt autem magnam quo. Voluptate quidem maiores ducimus labore eos
                | ad commodi nulla est in, dolore quasi voluptatem odio ipsa! Ipsam illo
                | eveniet vitae sunt fugit placeat asperiores recusandae incidunt in,
                | minus cumque? Possimus dolore rem sapiente nam provident omnis
                | aspernatur exercitationem quaerat doloribus quibusdam veritatis
                | nesciunt suscipit enim fugit facere odit alias dolores, id voluptas.
                | Velit voluptates eos consectetur est optio at ea illum quam, mollitia
                | nemo, accusamus sunt quidem esse sit? Nostrum corrupti ducimus
                | dolores, asperiores aut laboriosam accusantium a, ab, culpa animi
                | magnam quos voluptatum eaque omnis! Laborum voluptas quos enim officia
                | nulla placeat. Obcaecati quidem nihil quos. Sed ex exercitationem
                | commodi quaerat! Itaque eligendi pariatur aut soluta dolore officiis
                | voluptate eius dolorem, distinctio delectus debitis inventore corrupti
                | consectetur libero et obcaecati totam recusandae ipsa explicabo,
                | voluptatum quos! Sapiente ab repellendus ad deleniti suscipit dolore
                | accusamus, odit illo, quos tenetur hic sed exercitationem labore.
                | Accusamus sunt itaque aut dolor, facere delectus nostrum numquam sed
                | voluptatum expedita explicabo labore blanditiis ducimus soluta alias
                | aperiam quisquam obcaecati quibusdam pariatur veritatis. Saepe
                | cupiditate reiciendis vel distinctio deleniti porro facere repudiandae
                | dolor rerum ex provident mollitia corporis voluptatum laboriosam quod
                | sunt totam sapiente natus labore ducimus omnis, error tempore laborum.
                | Dolorem, ex nemo consectetur reiciendis ipsa dolor. Quaerat, ex
                | adipisci delectus quia repudiandae laborum praesentium officia placeat
                | perspiciatis libero recusandae modi odio. Quia impedit at velit,
                | facilis maxime ex laboriosam iure doloribus aliquid, ducimus possimus
                | laudantium explicabo adipisci omnis? Provident quod distinctio at
                | neque minus quisquam enim ex modi, veniam perferendis voluptatem,
                | facilis id, alias quasi aperiam numquam! Perspiciatis dolor vitae id
                | quis officia laudantium iure quas ipsum, laborum omnis itaque
                | voluptatem. Alias harum sint perspiciatis, tempora aspernatur ducimus
                | veritatis possimus assumenda nesciunt earum neque aperiam corporis,
                | molestias officiis explicabo unde, sed culpa distinctio consequuntur
                | excepturi dolor? Architecto et deleniti natus rerum, voluptatum cumque
                | repellendus eum sed quia perspiciatis, dolorem saepe dolor reiciendis
                | accusamus libero eligendi hic voluptatibus eos repellat ea, maxime
                | ullam quam. Sunt, molestias odit? Cupiditate, odit quaerat explicabo
                | accusamus nihil error quia excepturi officia quae ducimus! Aperiam
                | temporibus tempora necessitatibus mollitia facilis magnam a nisi
                | consequuntur ex debitis. Omnis odit aliquam minus fugiat fugit,
                | ratione hic architecto quasi quas, doloribus enim qui nostrum, numquam
                | in voluptatum possimus. Vitae quia illum ipsam aut velit odio
                | molestias nesciunt, corporis, earum nulla harum atque facere sed
                | voluptas perspiciatis repellat mollitia deleniti aliquam quae maxime
                | commodi cum necessitatibus. Nam molestiae repellat cupiditate pariatur
                | nesciunt ab exercitationem.
    